@import '../../../assets/styles/breakpoints';
$error-color: #e63946;

.auth {
  padding: 0 15px;
  background-color: #dddce1;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &-form {
    width: 100%;
    padding: 3rem 1.5rem;
    background-color: #fff;
    margin: 0 auto;
    @include small {
      padding: 3rem;
    }
    @include large {
      width: 33.33333%;
    }
    form {
      padding-top: 1rem;
    }
    &-group {
      margin-bottom: 1.5rem;
      input,
      select {
        width: 100%;
        height: 3.5rem;
        padding: 0.94rem 1.94rem;
        font-size: 0.9375rem;
        line-height: 1.5;
        border-radius: unset;
        border: 1px solid #c9ccd7;
        &::placeholder {
          color: #c9c8c8;
        }
        &.error {
          border-color: $error-color;
        }
      }
      select {
        color: #c9c8c8;
      }

      &__message-error {
        color: $error-color;
        margin-top: 5px;
      }
    }

    &__check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 18px 0;

      label {
        cursor: pointer;
        span {
          color: #686868;
          padding-left: 5px;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__button {
      width: 100%;
      padding: 1rem 3rem;
      line-height: 1.5;
      font-size: 0.875rem;
      border-radius: 0.1875rem;
      color: #fff;
      outline: unset;
      border: 1px solid transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:disabled {
        cursor: not-allowed;
      }

      &--submit {
        background-color: #248afd;
        border-color: #248afd;
        &:hover {
          background-color: #0276f8;
          border-color: #0270ec;
        }
      }

      &--social {
        background-color: #3b579d;
        &:hover {
          background: #2d4278;
        }

        svg {
          margin-right: 5px;
          width: 12px;
          height: 15px;
          path {
            fill: #fff;
          }
        }
      }
    }

    &__switch-page {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.5rem;

      a {
        padding-left: 3px;
        text-decoration: none;
        color: #248afd;
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}
